/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
}

.container {
  /*max-width: 800px; */
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.slogan {
  height: 283px;
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .slogan {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

h1 {
  color: #fff
} 
h2 {
  color: #333;
}

p {
  line-height: 1.5;
}

p.introduction {
  font-size: 60px;
  font-family: 'Crimson Text', serif;
  width: 1000px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  p.introduction {
    font-size: 5.4vw;
    font-family: Arial, sans-serif;
    text-align: center;
    width:auto  
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

/* Background images */
/* body.index { */
  /* background-image: url('background.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
/* } */

/* body.about { */
  /* background-image: url('about_page/background_1.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
/* } */

/* body.contact { */
  /* background-image: url('contact_page/background_2.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
/* } */

.container {
  background-color: rgba(255, 255, 255, 0.9);
}

div.contact {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top:20%;
  left:50%;
  transform: translate(-50%,-50%);
}

div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2.main_intro {
  font-size: 40px;
  text-align: center;
  margin: 100px 0px 20px 0px;

}

.part {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.part_left {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .part_left {
    width: 100%;
  }
}

.part_right {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .part_right {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .part_2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .part {
    background-color: #f0f0f0;
  }
}

.part_title_div {
  height: 40%;
  padding-top: 8%;
}

@media screen and (max-width: 992px) {
  .part_title_div {
    height: 30%;
    padding-top: 0%;
  }
}

.part_para_div {
  height: 60%;
}

@media screen and (max-width: 992px) {
  .part_para_div {
    margin-bottom: 10%;
  }
}

.part_title {
  font-size:60px;
  font-family: 'Ysabeau Office', sans-serif;
  font-weight: 400;
  /* margin-top: 10%; */
}

@media screen and (max-width: 992px) {
  .part_title {
    font-size: 7.5vw;
  }
}

.part_para {
  font-size:40px;
  font-family: 'Ysabeau Office', sans-serif;
  font-weight: 200;
}

@media screen and (max-width: 992px) {
  .part_para {
    font-size: 6vw;
  }
}

.main_intro_detail {
  line-height: 1.875em;
  font-family: 'Mulish', sans-serif;
}

.paragraphs {
  margin-left: 10%;
  width: 80%;
  font-size: 20px;
}

.calendar {
  position: fixed;
    bottom: 20px; /* 距离底部的距离 */
    right: 0px; /* 距离右侧的距离 */
    z-index: 9999; /* 确保日历元素显示在其他内容上方 */
}