.contact-heading {
    text-align: center;
    margin-bottom: 5%;
  }

.contact_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f0f0f0;
}

.rectangle {
  width: 250px;
  margin: 10px;
  padding: 20px;
}

.contact_way {
    display:flex;
    justify-content: center;
}